# Python
__pycache__/
*.py[cod]
*.so
*.dylib
*.egg-info/
.eggs/
venv/
.venv/
.env
.env.*

# Build
build/
dist/
.coverage
htmlcov/
.mypy_cache/
.pytest_cache/

# IDE
.vscode/
.idea/

# Artifacts
artifacts/
